* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #4CAF50;
    color: #fff;
    
    padding: 50px 20px;
}

img{

    border-radius: 5%;
    float: right;
    
}
#image{
    position: relative;
    top: -145px;
    width: 150px;
    height: 200px;
}
.hero h2 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.btn {
    background: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e7e7e7;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.project {
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.grid-item:hover {
    transform: scale(1.05);
    background-color: #45a049; /* Slightly darker green */
}

.project:hover {
    transform: scale(1.02);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
